*
!/.github/
!/.github/workflows/
!/.github/workflows/*.yaml
!/.gitignore
!/.gitmodules
!/*.cc
!/*.hpp
!/.gitattributes
!/Shijima-Qt.app/
!/Shijima-Qt.app/Contents/
!/Shijima-Qt.app/Contents/Resources/
!/Shijima-Qt.app/Contents/Resources/AppIcon.icns
!/Shijima-Qt.app/Contents/Info.plist
!/Makefile
!/common.mk
!/dev-docker/
!/dev-docker/Dockerfile
!/Platform/
!/Platform/*.hpp
!/Platform/Makefile
!/Platform/Linux/
!/Platform/Linux/*.cc
!/Platform/Linux/*.hpp
!/Platform/Linux/kwin_script.js
!/Platform/Linux/gnome_script/
!/Platform/Linux/gnome_script/extension.js
!/Platform/Linux/gnome_script/metadata.json
!/Platform/Linux/Makefile
!/Platform/Linux/*.cc
!/Platform/Linux/*.hpp
!/Platform/macOS/
!/Platform/macOS/Makefile
!/Platform/macOS/*.cc
!/Platform/macOS/*.mm
!/Platform/macOS/*.hpp
!/Platform/Stub/
!/Platform/Stub/Makefile
!/Platform/Stub/*.cc
!/Platform/Stub/*.hpp
!/find_dlls.sh
!/shijima-qt.png
!/shijima-qt.desktop
!/libshimejifinder
!/libshijima
!/README.md
!/licenses/
!/licenses/*.rst
!/licenses/*.txt
licenses_generated.hpp
