*
!/.gitignore
!/*.cc
!/*.hpp
!/.gitattributes
!/Makefile
!/common.mk
!/Platform/
!/Platform/*.hpp
!/Platform/Makefile
!/Platform/Linux/
!/Platform/Linux/*.cc
!/Platform/Linux/*.hpp
!/Platform/Linux/kwin_script.js
!/Platform/Linux/Makefile