*
!/.gitignore
!/*.cc
!/*.hpp
!/.gitattributes
!/Makefile
!/common.mk
!/Platform/
!/Platform/*.hpp
!/Platform/Makefile
!/Platform/Linux/
!/Platform/Linux/*.cc
!/Platform/Linux/*.hpp
!/Platform/Linux/kwin_script.js
!/Platform/Linux/Makefile
!/Platform/Linux/*.cc
!/Platform/Linux/*.hpp
!/Platform/macOS/
!/Platform/macOS/Makefile
!/Platform/macOS/*.cc
!/Platform/macOS/*.mm
!/Platform/macOS/*.hpp
!/Platform/Windows/
!/Platform/Windows/Makefile
!/Platform/Windows/*.cc
!/Platform/Windows/*.hpp
!/find_dlls.sh