name: Build release

on: [workflow_dispatch]

jobs:
  build-windows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          token: ${{ secrets.PULL_TOKEN }}
      - name: Fetch full history for Shijima submodules
        env:
          PULL_TOKEN: ${{ secrets.PULL_TOKEN }}
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          git remote set-url origin "https://${PULL_TOKEN}@github.com/pixelomer/Shijima-Qt.git"
          git fetch --unshallow origin $BRANCH_NAME
          git remote set-url origin "git@github.com:pixelomer/Shijima-Qt"
          pushd libshijima
          git remote set-url origin "https://${PULL_TOKEN}@github.com/pixelomer/libshijima.git"
          git fetch --unshallow origin main
          git remote set-url origin "git@github.com:pixelomer/libshijima"
          echo "libshijima: $(git rev-list HEAD --count) commits"
          popd
      - name: Cache Docker image
        id: cache-docker
        uses: actions/cache@v4
        with:
          path: shijima-qt-dev.tar.gz
          key: docker-fedora-41-qt6-mingw
      - name: Build Docker image
        if: steps.cache-docker.outputs.cache-hit != 'true'
        run: |
          pushd dev-docker
          docker build -t shijima-qt-dev .
          docker save shijima-qt-dev | gzip > ../shijima-qt-dev.tar.gz
          popd
      - name: Import Docker image
        if: steps.cache-docker.outputs.cache-hit == 'true'
        run: |
          gunzip -c < shijima-qt-dev.tar.gz | docker load
      - name: Build Windows x86_64 release build
        run: |
          docker run -e CONFIG=release --rm -v "$(pwd)":/work shijima-qt-dev bash -c \
            'mingw64-make clean && mingw64-make -j$(nproc)'
          cp -r licenses publish/Windows/release/
      - name: Archive Windows x86_64 release build
        uses: actions/upload-artifact@v4
        with:
          name: release-windows-x86_64
          path: publish/Windows/release
          retention-days: 1
  build-linux:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          token: ${{ secrets.PULL_TOKEN }}
      - name: Fetch full history for Shijima submodules
        env:
          PULL_TOKEN: ${{ secrets.PULL_TOKEN }}
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          git remote set-url origin "https://${PULL_TOKEN}@github.com/pixelomer/Shijima-Qt.git"
          git fetch --unshallow origin $BRANCH_NAME
          git remote set-url origin "git@github.com:pixelomer/Shijima-Qt"
          pushd libshijima
          git remote set-url origin "https://${PULL_TOKEN}@github.com/pixelomer/libshijima.git"
          git fetch --unshallow origin main
          git remote set-url origin "git@github.com:pixelomer/libshijima"
          echo "libshijima: $(git rev-list HEAD --count) commits"
          popd
      - name: Install Qt6
        uses: jurplel/install-qt-action@v3
        with:
          aqtversion: '==3.1.*'
          version: '6.7.3'
          host: 'linux'
          target: 'desktop'
          arch: 'linux_gcc_64'
          modules: 'qtmultimedia'
          cache: true
      - name: Install build dependencies
        run: |
          sudo apt-get install -y libxcb-cursor0 libarchive-dev
      - name: Build Linux x86_64 release build
        env:
          CONFIG: release
        run: |
          make clean
          make -j$(nproc)
          make appimage
          cp -r licenses publish/Linux/release/
      - name: Archive Linux x86_64 release build
        uses: actions/upload-artifact@v4
        with:
          name: release-linux-x86_64
          path: publish/Linux/release
          retention-days: 1
  build-macos:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          token: ${{ secrets.PULL_TOKEN }}
      - name: Fetch full history for Shijima submodules
        env:
          PULL_TOKEN: ${{ secrets.PULL_TOKEN }}
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          git remote set-url origin "https://${PULL_TOKEN}@github.com/pixelomer/Shijima-Qt.git"
          git fetch --unshallow origin $BRANCH_NAME
          git remote set-url origin "git@github.com:pixelomer/Shijima-Qt"
          pushd libshijima
          git remote set-url origin "https://${PULL_TOKEN}@github.com/pixelomer/libshijima.git"
          git fetch --unshallow origin main
          git remote set-url origin "git@github.com:pixelomer/libshijima"
          echo "libshijima: $(git rev-list HEAD --count) commits"
          popd
      - name: Temporarily let gtar run as root
        run: |
          sudo chown 0:0 /opt/homebrew/bin/gtar
          sudo chmod u+s /opt/homebrew/bin/gtar
      - name: Cache Qt6
        id: cache-qt6
        uses: actions/cache@v4
        with:
          path: /opt/local
          key: macos-14-macports-qt6
      - name: Revoke gtar's root permissions
        run: |
          sudo chmod u-s /opt/homebrew/bin/gtar
      - name: Install Qt6
        if: steps.cache-qt6.outputs.cache-hit != 'true'
        run: |
          wget --no-verbose https://github.com/macports/macports-base/releases/download/v2.10.5/MacPorts-2.10.5-14-Sonoma.pkg
          sudo installer -pkg MacPorts-2.10.5-14-Sonoma.pkg -target /
          export PATH=/opt/local/bin:/opt/local/sbin:$PATH
          yes | sudo port install qt6-qtbase qt6-qtmultimedia pkgconfig libarchive
          sudo rm -rf /opt/local/var/macports/build/*
          sudo rm -rf /opt/local/var/macports/distfiles/*
      - name: Expose MacPorts tools
        run: |
          echo "PATH=/opt/local/bin:/opt/local/sbin:$PATH" >> $GITHUB_ENV
      - name: Build macOS arm64 release build
        env:
          CONFIG: release
        run: |
          make clean
          make -j6
          make macapp
          cp -r licenses publish/macOS/release/
      - name: Archive macOS arm64 release build
        uses: actions/upload-artifact@v4
        with:
          name: release-macos-arm64
          path: publish/macOS/release
          retention-days: 1
      - name: Temporarily let gtar run as root
        run: |
          sudo chown 0:0 /opt/homebrew/bin/gtar
          sudo chmod u+s /opt/homebrew/bin/gtar
